@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#ilogin {
        width: 80vw;

    }

    section#ilogin>div#iimagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#ilogin>div#iformulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width:993px) and (max-width: 1200px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }


    section#ilogin {
        width: 930px;

    }

    section#ilogin>div#iimagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#ilogin>div#iformulario {
        float: right;
        width: 50%;
    }

}