@charset "UTF-8";

/*
    Paleta de Cores
    Verde: #49a09d
    Roxo: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#ilogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 525px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.446);

    transition: width 0.6s, height 0.6s;
    transition-timing-function: ease;

}

section#ilogin>div#iimagem {
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left bottom;
}

section#ilogin>div#iformulario {
    display: block;
    padding: 10px;

}

div#iformulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#iformulario>p {
    font-size: 0.8em;
}

form >div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}

div.campo>label{
    display: none;
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;

}

div.campo > input {
    background-color: #49a09d;
    font-size: 1em;
    width: calc(100% - 44.3px);
    transform: translateY(-13px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;

}

div.campo > input:focus-within {
    background-color: white;
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

form>input[type=submit]:hover {
    background-color: #295a58;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
    color:  #295a58;
}

form > a.botao:hover {
    background-color: #63d8d5;
}


form > a.botao > span {
    font-size: 0.8em;
}